<div class="background-white"> 

  <div class="container-form">
    <h2>Contacto</h2>
    <p>Escríbenos con cualquier duda o sugerencia</p>

    <div class="container">
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="fname">Nombre(s):</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Tu nombre..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Apellido(s):</label>
          </div>
          <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Tu apellido..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Mensaje:</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Escribe tu mensaje.." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <input type="submit" class="enviar-" value="Enviar">
        </div>
      </form>
    </div>

  </div>

</div>


<div>   
    <div class="footer">
            <p>Proyecto final - Desarrollo Web - Codeando México _ Telmex Hub</p>
            <p>Alejandra Morales Marín</p>
    </div>
</div> 
