
  <div class="container-mod">
    <div class="container-text">
      <div class="texto1">TEXTO 1 </div>
      <div class="texto2">TEXTO 2 </div>
    </div>

    <br>

    <div class="container-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15050.737474054242!2d-99.15094803402768!3d19.426038851480232!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1533666229136" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <iframe width="100%" height="500px" frameBorder="0" src="http://a.tiles.mapbox.com/v4/mapbox.comic.html?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NDg1bDA1cjYzM280NHJ5NzlvNDMifQ.d6e-nNyBDtmQCVwVNivz7A"></iframe>
    </div>
    <div>