
<div class="background-white"> 
  

    <div class="container-text">
      <div class="texto1"><h2>Mira quienes están cerca</h2></div>
    </div>
    <br>

    <div class="container-mod">
      <div class="container-map">
        <div id="mapa-leaflet"> 
        </div>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15050.737474054242!2d-99.15094803402768!3d19.426038851480232!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1533666229136" width="850" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> -->
      </div>

      <div>
          <div class="btn-group">
              <button class="button">Carpintería</button>
              <button class="button">Cerrajería</button>
              <button class="button">Electricistas</button>
              <button class="button">Herrería</button>
              <button class="button">Jardinería</button>
              <button class="button">Pintura</button>
              <button class="button">Plomería</button>
              <button class="button">Todos</button>
            </div>
      </div>    


  

  </div>
</div>



<div>   
  <div class="footer">
    <p>Proyecto final - Desarrollo Web - Codeando México _ Telmex Hub</p>
    <p>Alejandra Morales Marín</p>
    <p>Contacto: alejandra.momari@gmail.com</p>
    <p><a href="/acerca-del-proyecto" class="link-acercade">Acerca del proyecto</a></p>
</div>
</div>  

