
div.background-img{
    height: 1200px;
    margin: 0;
    background-image: url("/assets/background-oficios.jpg");
    background-size: cover;
    background-repeat: none;
    background-color: coral;
 }

 .search-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(233, 223, 78);
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    float: left;
    border-radius: 10px;
    padding: 20px;
}

 .seccion-busqueda{
    display:inline;
    background-color: rgba(232, 250, 73, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
}

 label{
     color: rgb(0, 0, 0);
     font-family: Roboto;
     text-transform: uppercase;
     padding-top: 15px;
     padding-left: 20px;
 }

#listadeoficios{
    display: inline;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 15px 8px 15px; 
}

#delegacion {
    padding: 10px 20px 10px 0px;
    margin: 10px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
}


#enviar-busqueda{
    display: inline;
    width: 20%;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white; 
    margin: 5px;;
    color: white;
    padding: 15px 20px 15px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin: 4px 1px;
    cursor: pointer;
    justify-self: end;
}
