
    <div class="background-img">
        <div class="search-container">
            <form>
                <div class="seccion-busqueda">
                        <i class="material-icons" style="font-size:30px;color:black;">search</i>
                    <label for="listadeoficios">Buscar: </label>
                        <input id="listadeoficios" list="oficios" name="oficio" placeholder="¿Qué buscas?">
                        
                            <datalist id="oficios">
                                <option value="Carpintería">
                                <option value="Cerrajería">
                                <option value="Electricistas">
                                <option value="Herrería">
                                <option value="Jardinería">
                                <option value="Pintura">
                                <option value="Plomería">
                                <option value="Otro">
                            </datalist>
                </div>
                
                <div class="seccion-busqueda">
                    <label for="delegacion">Alcaldía: </label>
                        <select id="delegacion" name="alcaldia">
                        <option value="del0">Alcaldía</option>
                        <option value="del1">Álvaro Obregón</option>
                        <option value="del2">Azcapotzalco</option>
                        <option value="del3">Benito Juárez</option>
                        <option value="del4">Coyoacán</option>
                        <option value="del5">Cuajimalpa</option>
                        <option value="del6">Cuauhtémoc</option>
                        <option value="del7">Gustavo A. Madero</option>
                        <option value="del8">Iztacalco</option>
                        <option value="del9">Iztapalapa</option>
                        <option value="del10">Magdalena Contreras</option>
                        <option value="del11">Miguel Hidalgo</option>
                        <option value="del12">Milpa Alta</option>
                        <option value="del13">Tláhuac</option>
                        <option value="del14">Tlalpan</option>
                        <option value="del15">Venustiano Carranza</option>
                        <option value="del16">Xochimilco</option>
                        </select>
                </div>
                <div class="seccion-busqueda">
                    <input id="enviar-busqueda" type="submit" value="Buscar">
                </div>
            </form>
        </div>
    </div>

<div>   
    <div class="footer">
            <h2>Footer</h2>
    </div>
</div> 
