<div class="background-white">

    <div class="container-perfilcompleto">

      <div class="linea1">
          <div class="categoria">
              <h1 class="categoria-b">Categoría: Carpintería</h1>
            </div>
      </div>

      <div class="linea2">
        <div class="foto-usuario"><img class="foto-usuario" id="" src="/assets/fotos-usuarios/foto-usuario1.png" width="100px" alt=""></div>
        <div class="contenido-general">
          <p>NOMBRE: Leonardo Daniel Enriquez Ávila </p>
          <p>UBICACIÓN: Venustiano Carranza</p>
          <p>PERFIL: Carpintería</p>
          <p>RANKING: * * * * *</p>
          <p>TRABAJOS REALIZOS: 20</p>
        </div>
      </div>

      <div class="cont-trabajo">
        <h2>TRABAJOS REALIZADOS:</h2>
        <div>


            <!-- Swiper -->
  <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
        <div class="swiper-slide">Slide 10</div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
        <!--  
          <div>
            <img class="foto-muestra" id="" src="/assets/" width="140px" alt="">
          </div>
          <div>
            <img class="foto-muestra" id="" src="/assets/" width="140px" alt="">
          </div>
          <div>
            <img class="foto-muestra" id="" src="/assets/" width="140px" alt="">
          </div>
        -->
        </div>
      </div>

      <div class="comentarios">
          <h2>Comentarios de usuarios</h2>
      </div>
    
    </div>
</div>  

<div class="botones">
    <button class="button button1">Anterior- Ir a</button>
    <button class="button button1">Siguiente</button>
</div>


<div>   
    <div class="footer">
        <p>Proyecto final - Desarrollo Web - Codeando México _ Telmex Hub</p>
        <p>Alejandra Morales Marín</p>
        <p>Contacto: alejandra.momari@gmail.com</p>
        <p><a href="/acerca-del-proyecto" class="link-acercade">Acerca del proyecto</a></p>
    </div>
</div> 
