

<div class="background-white">

    <div class="container-perfilcompleto">

      <div class="linea1">
        <div class="categoria">Categoría</div>
      </div>

      <div class="linea2">
        <div class="foto-usuario">FOTO</div>
        <div class="contenido-general">Información greneral
          <p>NOMBRE</p>
          <p>Ubicación</p>
          <p>Habilidades</p>
          <p>Ranking</p>
          <p># Trabajos realizados</p>
        </div>
      </div>

      <div class="cont-trabajo">
        <h1>Trabajos realizados</h1>
        <div>
            <img>
            <img>
            <img>
        </div>
      </div>

      <div class="comentarios">
        Comentarios de usuarios
      </div>
    
      <div>
        ANTERIOR-SIGUIENTE
      </div>
    </div>
</div>  


<div>   
  <div class="footer">
    <h2>Footer</h2>
  </div>
</div> 
