.background-white{
    height: 1200px;
}

.container-perfilcompleto{
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 3px;
    background-color: rgb(252, 252, 252);
    padding-top: 8%;
    padding-left: 25%;
    padding-right: 25%;
  }

.linea1{
    display: grid;
    grid-row: 1fr 1fr;
    background-color: #FFD834;
    border: 1px solid white;
    padding: 2px;
    height: 50px;
    width: 300px;
    text-align: left;
    text-transform: uppercase;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .categoria{
    display: flow-root; 
    text-transform: uppercase;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .categoria-b{
    position: absolute;
    display: inline-block;
    padding: 4px;
    margin: 5px;
    background-color: #FFD834;
  }
    .foto-usuario{
      grid-row: 1fr fr;
      background-color: #FFD834;
      border: 1px solid white;
      padding: 5px;
      height: 150px;
      width: 150px;
      align-content: initial;
      text-align: left;
    }
    
    .contenido-general{
      display: inline-block;
      grid-row: 2fr;
      background-color: #FFD834;
      border: 8px solid white;
      padding: 5px;
      padding-left: 10px;
      height: 180px;
      width: 450px;
      text-align: left;
      font-size: 14px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }

  .linea2{
        display: grid;
        grid-template-columns: 1fr 3fr; 
        background-color: #FFD834;
        height: 200px;
        border: 1px solid white;
        width: 900px;
        text-align: center;
  }



  .cont-trabajo{
    background-color: #FFD834;
    border: 5px solid white;
    padding: 2px;
    height: 300px;
    width: 900px;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
  }

 .comentarios{
    background-color: #FFD834;
    border: 5px solid white;
    padding: 2px;
    height: 250px;
    width: 900px;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
  }

  .botones{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding-left: 45%;
  }
  .button1 {border-radius: 2px;}
  

  
/* Footer */
.footer {
    padding: 60px;
    text-align: center;
    background: #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}