<p>
  perfiles-usuarios works!
</p>

  <div class="contenedor-tarjetas">
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="" width="50px" alt="img-usuario"></div>
        <div class="estrellas">estrellas</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">Nombre y Apellidos</div>
        <div class="resumen-usuario">toda la informacion de usuario</div>
        <div class="seccion-boton-perfil">BOTON</div>
      </div>
    </div>



  </div>