

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(252, 252, 252);
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .tarjeta-usuario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #FFD834;
    border: 30px solid white;
    padding: 2px;
    height: 230px;
    width: 420px;
    text-align: center;
  }

  .seccion-imagen {
    display: inline;
    background-color:  #FFD834;
    border: none;
    padding: 2px;
    height: 180px;
    width: 160px;
    text-align: center;
  }

  .contenedor-foto{
    display: flex;
    align-items: center;
    margin:4px solid #FFD834;
    padding-left: 10px;
    padding-top: 10px;
    height: 120px;
    width: 120px;
  }
  
  .estrellas{
      text-align: center;
      font-size: 35px;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1px 1px 2px 1px;
  
  }
  
 .contenedor-texto{
        display: grid;
        align-content: space-around;
        background-color:white;
        border: none;
        padding-right: 2px;
        height: 210px;
        width: 240px;
 }

 h1.nombre {
   display: inline;
   font-family: Roboto;
   font-size: 18px;
   padding-right: 10px;
   padding-top: 10px;
 }

 h1.apellido{
  display: inline;
  font-family: Roboto;
  font-size: 18px;
}

.resumen-usuario{
    display: inline;
    font-family: Roboto;
    font-size: 18px;
  } 

