<p>
  perfiles-usuarios works!
</p>

  <div class="contenedor-tarjetas">
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s) </h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario">toda la informacion de usuario</p></div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>
    <div class="tarjeta-usuario">

      <div class="seccion-imagen">
        <div class="contenedor-foto"><img class="foto-usuario" id="" src="/assets/perfil0.png" width="140px" alt=""></div>
        <br/>
        <div class="estrellas">* * * * *</div>
      </div>

      <div class="contenedor-texto">
        <div class="nombre-usuario">
          <h1 class="nombre">Nombre(s)</h1>
          <h1 class="apellido">Apellido(s)</h1>
        </div>
        <div class="resumen-usuario"><p class="resumen-usuario"></p>toda la informacion de usuario</div>
        <div class="seccion-boton-perfil"><input type="button" value="Ver perfil completo" class="ver-perfil"></div>
      </div>
    </div>



  </div>