.categoria{
  display: flow-root; 
  padding-left: 22%;
  margin-top: 5%;
  text-transform: uppercase;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.categoria-b{
  display: inline-block;
  padding: 4px;
  margin: 5px;
  background-color: #FFD834;
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(252, 252, 252);
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .tarjeta-usuario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #FFD834;
    border: 30px solid white;
    padding: 10px;
    height: 230px;
    width: 420px;
    text-align: center;
  }

  .seccion-imagen {
    display: inline;
    background-color:  #FFD834;
    border: none;
    padding: 2px;
    height: 180px;
    width: 160px;
    text-align: center;
  }

  .contenedor-foto{
    display: flex;
    align-items: center;
    margin:4px solid #FFD834;
    padding-left: 10px;
    padding-top: 10px;
    height: 120px;
    width: 120px;
  }
  
  .estrellas{
      text-align: center;
      font-size: 35px;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      padding: 1px 1px 2px 1px;
  
  }
  
 .contenedor-texto{
        display: grid;
        align-content: space-around;
        background-color:white;
        border: none;
        padding-right: 2px;
        height: 210px;
        width: 240px;
 }

 h1.nombre {
   display: inline;
   font-family: Roboto;
   font-size: 18px;
   padding-right: 10px;
   padding-top: 10px;
 }

 h1.apellido{
  display: inline;
  font-family: Roboto;
  font-size: 18px;
}

.resumen-usuario{
    display: inline;
    font-family: Roboto;
    font-size: 18px;
  } 


  .botones{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding-left: 45%;
  }
  .button1 {border-radius: 2px;}
  

/* Footer */
.footer {
  position: flex;
  margin-bottom: 1px;
  padding: 60px;
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
  margin-top: 0px;
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;

}