  <div class="background-white"> 

    <div class="contenedor-proyecto">
      <h2 class="encabeza-do">Problemática:</h2>

      <p class="conteni-do">
          La oferta laboral para la gente que se dedica a algún oficio se ve cada vez más reducida debido al
          acaparamiento de la actividad por grandes contratistas, empresas de construcción, tiendas que
          comercializan productos importados, la poca difusión que los trabajadores independientes tienen
          local y virtualmente, la “garantía” y la facilidad de pago que ofrece contratar los servicios de una
          empresa especializada, entre otras causas.
          Muchas veces se requiere realizar algún trabajo y no hay suficiente información acerca de los
          candidatos cercanos y su área de especialización, por lo que puede resultar más cómodo acudir a
          una empresa que cuenta con diferentes canales de comunicación y una ubicación estratégica.
          Este proyecto busca ser un puente para vincular a gente que necesita algún servicio técnico, con
          la gente que sabe hacerlo y que no tiene la proyección suficiente para dar a conocer su trabajo.

      </p>

      <h2 class="encabeza-do">Objetivos:</h2>
      <p class="conteni-do">
          Generar una propuesta que contribuya darle visibilidad a los trabajadores que dominan oficios
          como la carpintería, herrería, plomería, etc., con el fin de reducir el desempleo.
      </p>

      <h2 class="encabeza-do">Solución:</h2>
      <p class="conteni-do">
          Hacer una plataforma web que sirva de puente entre técnicos y empleadores, donde los usuarios
          puedan ubicar los trabajos requeridos y los trabajadores especializados disponibles en una zona
          determinada.
          Para esta propuesta se considerará a la ciudad de México y 7 oficios básicos, más uno que
          incluya al resto. La búsqueda abarca las alcaldías y el listado de oficios; además, se propone un
          mapa que ayude a visualizar a los usuarios cercanos. Por un lado, los empleadores podrán ver
          quienes están cerca ofreciendo el servicio que buscan; por el otro, los trabajadores pueden ver
          quien está buscando el servicio que ofrecen.
          La aplicación también considera crear perfiles visibles para todos los usuarios registrados, de
          manera que puedan conocer más acerca de los candidatos a emplear y obtener así, alguna
          garantía del servicio que esperan.
      </p>

    </div>

</div>



<div>   
    <div class="footer">
        <p>Proyecto final - Desarrollo Web - Codeando México _ Telmex Hub</p>
        <p>Alejandra Morales Marín</p>
        <p>Contacto: alejandra.momari@gmail.com</p>
        <p><a href="/acerca-del-proyecto" class="link-acercade">Acerca del proyecto</a></p>
    </div>
</div>  

