<div class="background-img">
  <div class="background-img">
    <div>
        <ul class="sidenav">
          <li><a class="active" routerLink="/inicio"> <div class="contenedor-foto"><img class="logotipo-index" id="" src="/assets/conexion-logo.png" width="100%" alt=""></div></a></li>
          <li><a routerLink="/busqueda">Búsqueda</a></li>
          <li><a routerLink="/servicios">Servicios</a></li>
          <li><a routerLink="/perfiles-usuarios">Usarios</a></li>
          <li><a routerLink="/perfil-usuario">Usuario</a></li>
          <li><a routerLink="/mapa">mapa</a></li>
          <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
    </div>
  </div>



  <div class="contenedor-redes">
    <div class="redes-ss"><a class="" target="blank" href="https://www.facebook.com/" > <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/fb-icon.png" width="100%" alt=""></div></a></div>
    <div class="redes-ss"><a class="" target="blank" href="https://plus.google.com/"> <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/google+-icon.png" width="100%" alt=""></div></a></div>
    <div class="redes-ss"><a class="" target="blank" href="https://www.instagram.com/"> <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/insta-icon.png" width="100%" alt=""></div></a></div>
    <div class="redes-ss"><a class="" target="blank" href="https://www.instagram.com/"> <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/lnk-icon.png" width="100%" alt=""></div></a></div>
    <div class="redes-ss"><a class="" target="blank" href="https://twitter.com"> <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/twte-icon.png" width="100%" alt=""></div></a></div>
    <div class="redes-ss"><a class="" target="blank" href="https://www.youtube.com/"> <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/yt-icon.png" width="100%" alt=""></div></a></div>
    <div class="redes-ss"><a class="" target="blank" href="/contacto"> <div class="contenedor-foto"><img class="redes" id="" src="/assets/iconos-redes/mail-icon.png" width="100%" alt=""></div></a></div>
  </div>
</div>


