
 ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Roboto;
    font-size: 16px;
    line-height: 3vw;
    text-transform: uppercase;
    background-color: rgba(255, 237, 77)
 }

 ul.sidenav li a {
    display: block;
    color: rgb(68, 68, 68);
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    color: rgb(0, 0, 0);
}

ul.sidenav li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.61);
    color: rgb(255,255,255);
    font-size: 22px;

}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
        font-size: 3vw;
        padding: 4px;
    }
}
