
<div class="background-white">   
    <div class="contenedor-oficios">
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Carpintería</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso1.png" width="200px" alt="carpinteria">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Cerrajería</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso6.png" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Electricistas</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso7.png" width="200px" alt="">        </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Herrería</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso2.png" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Jardinería</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso5.png" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Pintura</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso3.png" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Plomería</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso4.png" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Otro</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/iconos-oficios/Recurso8.png" width="200px" alt="">
            </div>
        </div>
    </div> 
</div>   


<div>   
    <div class="footer">
        <h2>Footer</h2>
    </div>
</div> 


